footer {
  @extend %centrar;
  background-color: $color-negro;
  color: $color-blanco;
  height: 25vh;
  @include texto(_, $tamanio-medio, lighter);

  a {
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
      color: $color-blanco;
    }
  }
}
