main {
  padding: 50px 60px;

  .contenedor-cards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      width: 100%;
      // padding: 0 30px;
      display: flex;
      justify-content: center;
    }

    // @media screen and (max-width: 768px) {
    //   padding: 0 50px;
    // }
  }

  .container-more-info {
    padding-top: 50px;
    button {
      @include button($color-secundario, $color-principal, 125px, 35px);
      &:hover {
        background-color: $color-terceario;
      }
    }

    .more-info {
      padding: 15px;

      .info {
        margin-left: 50px;
      }
    }
  }

  // @media screen and (max-width: 320px) {
  //   padding: 0;
  // }

  @media screen and (max-width: 425px) {
    padding: 0 30px;
    padding-bottom: 20px;
  }
}

.pages {
  @extend %centrar;
  margin: 3rem 0 3rem 0;
  button {
    @include button($color-secundario, $color-principal, 45px, 45px, 5px);
    @include texto(_, x-large, _);
    &:hover {
      background-color: $color-terceario;
    }
  }

  @media screen and (max-width: 375px) {
    margin-bottom: 0;
  }
}
