@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
$color-principal: white;
$color-secundario: black;
$color-terceario: #e50000;
$color-deshabilitado: #808080;
$tipografia-marca: "Bangers", cursive;
$tipografia-general: "Roboto", cursive;
$tamanio-grande: x-large;
$tamanio-pequenio: small;

* {
  box-sizing: border-box;
  font-family: $tipografia-general;
}

%espaciado {
  padding: 3rem 2rem;
}

@mixin texto($color: #000, $tamanioFuente: normal, $grosor: bold) {
  color: $color;
  font-weight: $grosor;
  font-size: $tamanioFuente;
}

@mixin button($colorFondo, $color, $ancho, $alto, $margen: 0) {
  border: none;
  padding: 5px;
  width: $ancho;
  height: $alto;
  background-color: $colorFondo;
  color: $color;
  margin: $margen;
  cursor: pointer;
  @include texto($color, large, lighter);
}

%centrar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.barra {
  background-color: $color-secundario;
  display: flex;
  justify-content: center;
  .contenedor-marca {
    background-color: $color-terceario;

    .nombre-marca {
      font-family: $tipografia-marca;
      font-weight: bolder;
      line-height: 0;
      font-size: 2.5rem;
      padding: 5px;
      color: $color-principal;
    }
  }
}

.portada {
  position: relative;
  background-image: url(imagenes/portada.jpg);
  background-size: cover;
  padding: 30vh 0;

  &::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

main {
  padding: 50px 60px;

  .contenedor-cards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.pages {
  @extend %centrar;
  margin: 3rem 0 3rem 0;
  button {
    @include button($color-secundario, $color-principal, 45px, 45px, 5px);
    @include texto(_, large, _);
    &:hover {
      background-color: $color-terceario;
    }
  }
}

footer {
  @extend %centrar;
  background-color: $color-secundario;
  color: $color-principal;
  height: 25vh;
  @include texto(_, large, lighter);

  a {
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
      color: $color-principal;
    }
  }
}
