@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.comics-card .info, footer, .pages {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", cursive;
}

.hidden {
  display: none !important;
}

body {
  background-color: #121214;
  overflow-x: hidden;
}
body.dark .barra {
  background-color: #e50000;
}
body.dark main {
  background-color: #121214;
  color: white;
}
body.dark main form .fas.fa-search {
  color: black;
}
body.dark main form select {
  background-color: #686868;
}
body.dark main .busqueda {
  color: white;
}
body.dark main #input-texto {
  border-bottom: 1px solid #808080;
  background-color: #686868;
  color: #e50000;
}
body.dark main button {
  background-color: #e50000;
}
body.dark main .show-results {
  color: white;
}
body.dark main .comics-card {
  color: white;
}

.barra {
  background-color: black;
  display: flex;
  justify-content: center;
}
.barra .contenedor-marca {
  background-color: #e50000;
}
.barra .contenedor-marca .nombre-marca {
  font-family: "Bangers", cursive;
  font-weight: bolder;
  line-height: 0;
  font-size: 2.5rem;
  padding: 5px;
  color: white;
}
@media screen and (max-width: 375px) {
  .barra .contenedor-marca .nombre-marca {
    text-align: center;
  }
}

.portada {
  position: relative;
  background-image: url(imagenes/portada.jpg);
  background-size: cover;
  padding: 30vh 0;
}
.portada::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  display: flex;
  justify-content: space-between;
}
form .busqueda {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
form .busqueda .fas.fa-search {
  position: absolute;
  margin: 5px;
  top: 50px;
  left: 0;
}
@media screen and (max-width: 768px) {
  form .busqueda {
    width: 100%;
  }
}
form .filtros {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #808080;
  font-weight: bold;
  font-size: normal;
}
form .filtros button {
  border: none;
  padding: 5px;
  width: 100px;
  height: 35px;
  background-color: black;
  color: white;
  margin: 0;
  cursor: pointer;
  color: white;
  font-weight: lighter;
  font-size: large;
}
@media screen and (max-width: 425px) {
  form .filtros {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  form .filtros {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100px;
    width: 50%;
    margin-top: 10px;
  }
}
form h2 {
  margin: 0;
}
@media screen and (max-width: 425px) {
  form {
    flex-direction: column;
  }
}

.show-results {
  margin-top: 4rem;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.show-results span {
  color: #808080;
  font-weight: bold;
  font-size: small;
}

main {
  padding: 50px 60px;
}
main .contenedor-cards {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  main .contenedor-cards {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  main .contenedor-cards {
    padding: 0 50px;
  }
}
main .container-more-info {
  padding-top: 50px;
}
main .container-more-info button {
  border: none;
  padding: 5px;
  width: 125px;
  height: 35px;
  background-color: black;
  color: white;
  margin: 0;
  cursor: pointer;
  color: white;
  font-weight: lighter;
  font-size: large;
}
main .container-more-info button:hover {
  background-color: #e50000;
}
main .container-more-info .more-info {
  padding: 15px;
}
main .container-more-info .more-info .info {
  margin-left: 50px;
}
@media screen and (max-width: 425px) {
  main .container-more-info .more-info .info {
    margin-left: 0;
  }
}
@media screen and (max-width: 425px) {
  main {
    padding: 20px 30px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.pages {
  margin: 3rem 0 3rem 0;
}
.pages button {
  border: none;
  padding: 5px;
  width: 45px;
  height: 45px;
  background-color: black;
  color: white;
  margin: 5px;
  cursor: pointer;
  color: white;
  font-weight: lighter;
  font-size: large;
  color: _;
  font-weight: _;
  font-size: x-large;
}
.pages button:hover {
  background-color: #e50000;
}
@media screen and (max-width: 375px) {
  .pages {
    margin-bottom: 0;
  }
}

footer {
  background-color: black;
  color: white;
  height: 25vh;
  color: _;
  font-weight: lighter;
  font-size: large;
}
footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: white;
}

.disable {
  color: #808080 !important;
}
.disable:hover {
  background-color: black !important;
  cursor: text;
}

.comics-card {
  width: 230px;
  margin-bottom: 30px;
}
.comics-card h3 {
  margin: 0;
}
.comics-card .imagen {
  width: 100%;
  height: 350px;
  position: relative;
  box-shadow: 0 26px 24px -16px #686868;
  transform: translateY(0);
  transition: 0.5s ease;
}
.comics-card .imagen img {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  top: 5px;
}
@media screen and (max-width: 425px) {
  .comics-card .imagen {
    height: 0%;
  }
}
.comics-card .info {
  padding-top: 15px;
  margin-top: 15px;
}
.comics-card:hover .imagen {
  transform: translateY(-20px);
  transition: 0.5s ease;
}
.comics-card:hover .info {
  color: #e50000;
}
@media screen and (max-width: 425px) {
  .comics-card {
    width: 100%;
    height: 0%;
  }
}

.card-more-info {
  display: flex;
  flex-direction: row;
}
.card-more-info img {
  width: 324px;
  height: 500px;
}
@media screen and (max-width: 320px) {
  .card-more-info img {
    width: 90vw;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .card-more-info {
    flex-direction: column;
    align-items: center;
  }
}

.characters-card {
  background-color: #e50000;
  width: 220px;
  margin-bottom: 30px;
}
.characters-card h3 {
  margin: 0;
}
.characters-card .imagen {
  width: 100%;
  height: 324px;
  position: relative;
  overflow: hidden;
}
.characters-card .imagen img {
  width: 300px;
  height: 450px;
  position: relative;
  left: 0;
  top: 0;
  transform: scale(1);
  transition: 0.2s ease;
}
.characters-card .info {
  position: relative;
  top: 4px;
  height: 25%;
  padding-bottom: 25px;
  color: white;
  background-color: black;
}
.characters-card .info h3 {
  padding: 20px;
}
.characters-card:hover img {
  transform: scale(1.2);
  transition: 0.2s ease;
}
.characters-card:hover .info {
  background-color: #e50000;
}

.filtro-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filtro-texto #input-texto {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 15px;
  padding: 5px 30px 5px 30px;
  font-size: x-large;
}

.select {
  color: _;
  font-weight: bold;
  font-size: large;
  border: none;
  margin-left: 5px;
}

.modo-oscuro {
  background-color: orange;
  border-radius: 1000px;
  border: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  font-size: large;
  outline: none;
  height: 30px;
  width: 70px;
  top: 15px;
  right: 50px;
}
.modo-oscuro::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  top: 0;
  transform: translateX(35px);
  transition: 0.5s ease;
  border-radius: 100px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.modo-oscuro.active {
  background-color: #343d58;
  color: black;
}
.modo-oscuro.active::after {
  transition: 2s;
  top: 0;
  transform: translateX(-5px);
  transition: 0.5s ease;
}
.modo-oscuro span {
  width: 30px;
  height: 30px;
  display: flex;
  background: none;
  justify-content: space-around;
  align-items: center;
  color: white;
}
@media screen and (max-width: 425px) {
  .modo-oscuro {
    position: absolute;
    right: 2.5rem;
    top: 27rem;
  }
}
@media screen and (min-width: 768px) {
  .modo-oscuro {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
  }
}

.overlay-loading {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100vw;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-animation {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.circle-animation::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #e50000;
  border-color: #e50000 transparent #e50000 transparent;
  animation: circle-animation 1.2s linear infinite;
}
@keyframes circle-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
