$color-principal: #fff;
$color-secundario: #000;
$color-terceario: #e50000;
$color-switch-claro: #ffa500;
$color-switch-oscuro: #343d58;
$color-modo-oscuro: #121214;
$color-deshabilitado: #808080;
// $color-gris: #686868;
$color-fondo-modo-oscuro: #2222;
$tipografia-marca: "Bangers", cursive;
$tipografia-general: "Roboto", sans-serif;
$tamanio-medio: large;
$tamanio-grande: x-large;
$tamanio-pequenio: small;
$no-bold: 100;
$bold: 500;
