$color-principal: white;
$color-secundario: black;
$color-modo-oscuro: #121214;
$color-terceario: #e50000;
$color-deshabilitado: #808080;
$color-sombra: #686868;
$color-gris-oscuro: #2222;
$tipografia-marca: "Bangers", cursive;
$tipografia-general: "Roboto", cursive;
$tamanio-grande: x-large;
$tamanio-pequenio: small;
