$color-blanco: white;
$color-negro: black;
$color-rojo: #e50000;
$color-naranja: #ffa500;
$color-azul-oscuro: #343d58;
$color-modo-oscuro: #121214;
$color-deshabilitado: #808080;
$color-gris: #686868;
$color-gris-oscuro: #2222;
$tipografia-marca: "Bangers", cursive;
$tipografia-general: "Roboto", sans-serif;
$tamanio-medio: large;
$tamanio-grande: x-large;
$tamanio-pequenio: small;
$no-bold: 100;
$bold: 500;
