.overlay-loading {
  background-color: rgba($color-blanco, 0.5);
  position: fixed;
  width: 100vw;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-animation {
  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid $color-rojo;
    border-color: $color-rojo transparent $color-rojo transparent;
    animation: circle-animation 1.2s linear infinite;
    @keyframes circle-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
