@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: $tipografia-general;
}

.hidden {
  display: none !important;
}

body {
  background-color: $color-principal;
  overflow-x: hidden;
  &.dark {
    background-color: $color-modo-oscuro;
    .barra {
      background-color: $color-terceario;
    }
    main {
      form {
        .fas.fa-search {
          color: $color-principal;
        }
        select {
          background-color: $color-modo-oscuro;
          color: $color-principal;
        }
      }

      .busqueda {
        color: $color-principal;
      }
      #input-texto {
        border-bottom: 1px solid $color-deshabilitado;
        background-color: $color-modo-oscuro;
        background: none;
        color: $color-principal;
      }

      button {
        background-color: $color-terceario;
      }

      .show-results {
        color: $color-principal;
      }
      background-color: $color-modo-oscuro;
      color: $color-principal;

      .comics-card {
        color: $color-principal;
      }
    }
  }
}
